* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* instruções para deixar as fontes mais bonitas */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    /* colors */
    --tt-headings: #0C3440;
    --tt-label: #00453A;
    --tt-input-fill: #DCE2E9;
    --tt-input-focus-border: #02799D;
    --tt-input: #212529;
    --tt-input-placeholder: #495057;
    --tt-input-border: #495057;

    --button-padding: #02799D;
    --button-text: white;

}

body {
    background-color: #040924;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    padding: 4.8rem 6.4rem 6.4rem;
    background: white;
    max-width: 42.8rem;
    min-width: 40rem;

    margin: 0 auto;
    margin-inline: auto;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

.card h1, h2, p {
    line-height: 4rem;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--tt-headings);
}

.card p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--tt-label);
}

form {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .8rem;
}

.form-group label {
    font-weight: 400;
    color: var(--tt-label);
}

.form-group input {
    width: 100%;
    padding: 1.6rem;
    border: 1px solid var(--tt-input-border);
    opacity: 30%;
    border-radius: .4rem;
    background: var(--tt-input-fill);
    color: var(--tt-input);
}

.form-group input::placeholder {
    color: var(--tt-input-placeholder);
    opacity: 50%;
}

.form-group input:focus {
    outline: none;
    border: 1px solid var(--tt-input-focus-border);
    opacity: 100%;
}

#button label {
    position: absolute;
    display: none;
}

#button button {
    width: 100%;
    padding: 1.6rem;
    margin-top: 3.2rem;


    border: none;
    border-radius: .4rem;
    background: var(--button-padding);
    color: var(--button-text);
    font-weight: 700;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:.8rem;

    line-height: 2rem;
}

#button button:hover {
    cursor: pointer;
    background-color: #025f7b;
}

.error-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
    background-color: #F03E3E;

    height: 3.6rem;
    font-weight: bold;
    line-height: 2rem;
}

.error-alert p {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}
.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 0, 0.7);

    visibility: hidden;
}

.modal-card {
    position: relative;

    display: grid;
    place-content: center;
}

.modal-card button {
    border: none;
    background: none;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    transition: transform 0.3s;
}

.modal-card button:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.close:focus {
    outline: none;
}

/* Animations */
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-21 12:3:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

.slide-top {
	-webkit-animation: slide-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-21 11:16:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  .text-blur-out {
	-webkit-animation: text-blur-out 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-blur-out 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-21 11:43:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(8px);
              filter: blur(8px);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(8px);
              filter: blur(8px);
    }
  }
  
  .shake-horizontal {
	-webkit-animation: shake-horizontal 0.5s ease-out both;
	        animation: shake-horizontal 0.5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-21 11:55:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  